.frame {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    font-family: sans-serif;
}

.hint {
    width: 100px;
    text-align: right;
    margin-right: 20px;
}

.content {
    width: 380px;
    float: right;
}

.error {
    color: red;
}

span {
    display: inline-block;
}

#logout {
    width: 80px;
    text-align: center;
}